<div class="row">
  <div class="col-md-3 col-md-offset-3 col-sm-6" id="photo">
    <img alt="profile" class="img-responsive" id="profile"/>
  </div>
  <div class="col-md-5 col-sm-6" id="information">
    <h1 id="name"></h1> 
      <button class="btn btn-default pull-right" id="edit-summary">Edit</button>
    <hr />
    <h2 id="title"></h2>
    <h2 id="location"></h2>
    <h3 id="phone"><span class="glyphicon glyphicon-phone-alt"></span></h3>
    <h3 id="email"><span class="glyphicon glyphicon-envelope"></span></h3>
  </div>
</div>